<div class="main">
  <div class="nav main__nav">
    <ul class="nav__items">
      <li class="nav__item">
        <a routerLink="simple-chart" class="nav__link">Simple chart</a>
      </li>
      <li class="nav__item">
        <a routerLink="pointer-chart" class="nav__link">Pointer chart</a>
      </li>
      <li class="nav__item">
        <a routerLink="histogram" class="nav__link">Histogram</a>
      </li>
    </ul>
  </div>

  <main class="main__content">
    <router-outlet></router-outlet>
  </main>
</div>
